# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
release
dist-electron
$target
cert.pfx
builder_debug_log.txt
builder_error_log.txt
build_debug.txt
build_debug_log.txt
build_debug_tail.txt
build_error_log.txt
build_log.txt
build_log_2.txt
build_output.log
packager_log.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
